<html>

<head>
    <meta charset="utf-8">
    <title>学生成绩</title>
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>考号</th>
                <th>姓名</th>
                <th>语文</th>
                <th>数学</th>
                <th>英语</th>
            </tr>
        </thead>
        <tbody>
            {% if scores %}
            {% for score in scores %}
            <tr>
                <td>{{score.id}}</td>
                <td>{{score.kh}}</td>
                <td>{{score.name}}</td>
                <td>{{score.chinese}}</td>
                <td>{{score.math}}</td>
                <td>{{score.english}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">没有数据</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- Pagination links -->
    <div class="pagination">
        <span class="step-links">
            {% if scores.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ scores.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current-page">{{ scores.number }}</span>

            {% if scores.has_next %}
            <a href="?page={{ scores.next_page_number }}">next</a>
            <a href="?page={{ scores.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>

</html>